<% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
<% end -%>
- <%=h @mpc_to_remove.model.model %> |
<%=h @mpc_to_remove.product.product_number %> |
<%=h @mpc_to_remove.category.category_name %> - 
was removed
<br />